
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.continue-section, .register-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}

.continue-section {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.continue-section h2 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.no-account {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.no-account:hover {
  text-decoration: underline;
}

.register-section {
  background-color: #d3d3d3;
  align-items: flex-start;
}

.register-section h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 40px;
}

.register-section form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register-section input[type="text"], .register-section input[type="email"], .register-section input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
  text-align: left;
}

.register-section label {
  font-size: 16px;
  color: #333;
  margin: 10px 0 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.back-button, .register-button {
  width: 48%;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;

}

.back-button {
  background-color: #fff;
  color: #000;
}

.register-button {
  background-color: #000;
  color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .continue-section, .register-section {
      width: 100%;
      height: 50vh;
  }
}

@media (max-width: 480px) {
  .register-section h1 {
      font-size: 24px;
  }

  .continue-section h2 {
      font-size: 18px;
  }

  .back-button, .register-button {
      font-size: 14px;
      padding: 8px;
  }

  .no-account {
      font-size: 10px;
  }
}