      /* Importando a fonte Open Sans do Google Fonts com peso fino */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    background-color: #e6e6e6;
    padding: 40px;
    width: 100%;
    height: 100vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
       
       /* Fonte Horizon */
@font-face {
    font-family: 'Horizon';
    src: url('path_to_horizon_font/Horizon.ttf') format('truetype'); /* Substitua pelo caminho correto */
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.card {
    padding: 30px;
    border-radius: 8px;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    position: relative;
    z-index: 1;
    margin-top: auto;
}

.card.black {
    background-color: var(--primary-color);
    height: 250px;
}

.card.white {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 250px;
    z-index: 2;
}

.card .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card.black .icon {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.card.white .icon {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.card .arrow {
    font-size: 1.5em;
    align-self: flex-end;
    border: 2px solid var(--secondary-color);
    text-align: center;
    border-radius: 50%;
    padding: 8px;
    background-color: transparent;
}

.item0 {
    font-family: 'Horizon', sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}

.item0 .nossos {
    letter-spacing: 0.1em;
    padding-left: 0.25em;
}

.item0 .recursos {
    letter-spacing: 0.1em;
}

.item1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 300px;
}

.item4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    height: 300px;
}

.item5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 250px;
}

.item6 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
 
a {
    text-decoration: none;
    color: var(--secondary-color);
}