/* Importando a fonte Open Sans do Google Fonts com peso fino */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

:root {
    --body-color: #f5f5f5;
    --dark-body-color: #3b3a3a;
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --secondary-black-color: #333333;
    --secondary-white-color: #d3d3d3;

}

@font-face {
    font-family: horizon;
    src: url('../Assets/fonts/Horizon.otf') format('truetype');
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-settings {
    color: var(--primary-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-color);
    margin: 0;
}

.white-link {
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
    width: 100%;
    height: 100%;
}
