/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 140px;
  height: 140px;
  background-color: var(--primary-color);
  border-radius: 20%;
}

.user-avatar {
  width: 80px;
  height: 80px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.user-name {
  color: var(--primary-color);
}

.sidebar h2 {
  font-family: horizon;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}

#dif {
  width: 100%;
  padding: 14px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  font-weight: bold;
  border-radius: 50px;
  margin: 14px;
}

.menu-item {
  width: 100%;
  padding: 14px;
  text-align: center;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  font-weight: bold;
  border-radius: 50px;
  margin: 14px;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #b6b6b6;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .sidebar {
    align-items: center;
  }

  .menu-item, #dif {
    font-size: 14px;
    padding: 10px;
    margin: 8px;
  }
}